.orange-line {
  min-height: 5px;
  width: 100%;
  background-color: #fdbd1f;
}

.logo {
  padding: 15px 5px 15px 15px ;
}

.site-name {
  position: relative;
  top: -50px;
  left: 60px;
  font-weight: bold;
}

.caption-goes-here {
  position: relative;
  top: -55px;
  left: 60px;
}

.wrap {
  display: block;
  width: 1170px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  padding: 30px 15px;
  font-size: 10px
}

ul a:hover {
  background-color: #fdbd1f;
  color: white;
}

ul li {
  position: relative;
  left: 769px;
  bottom: 95px;
  float: left;

}

.background-image {
  margin-top: -65px;
  margin-bottom: -1px;
}

.image-text-1 {
  position: relative;
  bottom: 240px;
  display: block;
  width: 200px;
  padding: 10px 0px;
  margin: 0 auto;
  background-color: #ab6f80;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  margin-bottom: -17px;
}

.image-text-2 {
  position: relative;
  bottom: 240px;
  display: block;
  width: 400px;
  padding: 10px 10px;
  margin: 0 auto;
  background-color: #ab6f80;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.block-2 {
  display: block;
  width: 970px;
  margin: 0 auto;
  margin-top: -120px;
  background-color: #fdbd1f;
  padding: 20px 100px;
  text-align: center;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.text {
  display: block;
  /*padding-bottom: 10px;*/
}

 .block-2 .btn {
  height: 40px;
  width: 120px;
  background-color: #ab6f80;
  color: #fdbd1f;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;

}

.block-3 .btn {
  position: relative;
  bottom: 20px;
  background-color: #fdbd1f;
  color: white;
  width: 75px;
  height: 25px;
}

.rocket {
  position: relative;
  top: 35px;
  display: block;
  width: 500px;
}

.mic {
  position: relative;
  bottom: 250px;
  left: 650px;
  display: block;
  width: 500px;
}

/*.block-3 span {
  color: #fdbd1f;
}*/

.block-3 p {
  position: relative;
  bottom: 20px;
  color: #978489;
}

.block-3 h2 {
  color: #ab6f80;
}

.block-3 span {
  position: relative;
  bottom: 20px;
}

.text-rocket {
  width: 380px;
  position: relative;
  bottom: 120px;
  left: 140px;
}

.text-mic {
  width: 380px;
  position: relative;
  bottom: 120px;
  left: 120px;
}

.block-4 {
  margin-top: -350px;
  height: 350px;
  background-color: #ab6f80;
  color: white;
}

.image-mobiles {
  padding: 50px;
}

.text-mobiles {
  position: relative;
  bottom: 310px;
  left: 400px;
  width: 750px;
}

.block-4 span {
  position: relative;
  bottom: 20px;
}

.block-4 p {
  color: #fdbd1f;
}

.block-4 .btn {
  position: relative;
  top: 10px;
  color: #ab6f80;
  width: 75px;
  height: 25px;
  border-radius: 5px;
}

.block-5 {
  display: block;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
}

.block-5 span {
  position: relative;
  bottom: 20px;
  color: #fdbd1f;
}

.block-5 h2 {
  color: #ab6f80;
}

.block-5 p {
  position: relative;
  bottom: 20px;
}

.arrow-1 {
  transform: rotate(180deg);
  position: relative;
  bottom: 150px;
  right: 100px;
}

.arrow-2 {
  position: relative;
  bottom: 150px;
  left: 100px;
}

.footer {
  display: block;
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;
}

.footer span {
  color: #9e8e92;
}

/*.footer div {
  color: #9e8e92;
   #ab6f80
}*/

/* === */

.white {
  color: white;
}

.gray {
  color: #9e8e92;
}

.yellow {
  color: #fdbd1f;
}

.pink {
  /*color: #ab6f80;*/
  color: red;
}

.btn {
  border: none;
}
